offender-management-ui
[{"id":"fb8531d1.82cf","type":"tab","label":"Welcome Screen","disabled":false,"info":"This page uses a UI-template node to render some static text. There's also 2 buttons to setup the demo (filling the blockchain with some sample data), and to ping it to confirm its health. Both of these use a simple HTTP GET, with the response forming the basis of a frontend notification."},{"id":"add46346.e4cfd8","type":"tab","label":"Participants Screen","disabled":false,"info":"These pages uses a UI-template node to render tables about the assets or participants. Again, these are simple HTTP GET methods to their respective APIs, before formatting the data and sending it as tables to a ui-template node."},{"id":"e4959021.fe8548","type":"tab","label":"Assets Screen","disabled":false,"info":"These pages uses a UI-template node to render tables about the assets or participants. Again, these are simple HTTP GET methods to their respective APIs, before formatting the data and sending it as tables to a ui-template node."},{"id":"4a449ed4.d0e6a","type":"tab","label":"Transactions Screen","disabled":false,"info":" This page uses the historian API to gather the history of the blockchain. It's used to create a counter and a table showing all transactions that have taken place.\n"},{"id":"10d2455f.406113","type":"tab","label":"Interact","disabled":false,"info":"This is the most complex flow, as it has to gather data from the blockchain, collect user inputs, then POST this data back to the blockchain to add transactions to it.\n\nFirst, the GET APIs for animal and field are called. The response list from these then populate the dropdown menu elements, which the user selects. Once the user clicks submit, the \"process departure\" or \"process arrival\" subflow is called. These grab the user's input, use the IDs gathered from that to call the API again, to get the remaining properties. These properties are then formatted to make up the payload, and this is then POSTed into the \"animalMovementArrival\" or \"animalMovementDeparture\" API. A notification is then sent to confirm if the transaction has successfully occured."},{"id":"e9181438.05a498","type":"subflow","name":"Process Departure","info":"Ok... Bear with me here...\n\n* First it gets the details from the form (and resets the global objects)\n* Then it calls the field API to get the details of the field it will go to (to gather the businessID)\n* Then it calls the field API again to get the details of the field it's come from (to get that field's businessID)\n* Then it formats these nicely and sets the message\n* Then it calls the animalMovementDeparture API","in":[{"x":40,"y":80,"wires":[{"id":"814305d.1b98b78"}]}],"out":[{"x":680,"y":480,"wires":[{"id":"8d7709c6.feb318","port":0}]}]},{"id":"ecfc4797.ceaad","type":"subflow","name":"Process Arrival","info":"Ok... Bear with me here...\n\n* First it gets the details from the form (and resets the global objects)\n* Then it calls the field API to get the details of the field it will go to (to gather the businessID)\n* Then it calls the field API again to get the details of the field it's come from (to get that field's businessID)\n* Then it formats these nicely and sets the message\n* Then it calls the animalMovementArrival API\n\n","in":[{"x":40,"y":80,"wires":[{"id":"f7bed3b0.baefa8"}]}],"out":[{"x":640,"y":480,"wires":[{"id":"662cf69b.b6624","port":0}]}]},{"id":"1828c2fb.0bce1d","type":"subflow","name":"Process Departure (2)","info":"Ok... Bear with me here...\n\n* First it gets the details from the form (and resets the global objects)\n* Then it calls the field API to get the details of the field it will go to (to gather the businessID)\n* Then it calls the field API again to get the details of the field it's come from (to get that field's businessID)\n* Then it formats these nicely and sets the message\n* Then it calls the animalMovementDeparture API","in":[{"x":40,"y":80,"wires":[{"id":"b4ecaa13.d208c8"}]}],"out":[{"x":680,"y":480,"wires":[{"id":"ac718397.ff073","port":0}]}]},{"id":"62861aca.02fbec","type":"subflow","name":"Process Arrival (2)","info":"Ok... Bear with me here...\n\n* First it gets the details from the form (and resets the global objects)\n* Then it calls the field API to get the details of the field it will go to (to gather the businessID)\n* Then it calls the field API again to get the details of the field it's come from (to get that field's businessID)\n* Then it formats these nicely and sets the message\n* Then it calls the animalMovementArrival API\n\n","in":[{"x":40,"y":80,"wires":[{"id":"8bd53e50.7f42f8"}]}],"out":[{"x":640,"y":480,"wires":[{"id":"d014c8e9.753ac8","port":0}]}]},{"id":"f9216d1.c77861","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#48c4ff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Light theme new","default":"#4B7930","baseColor":"#ffffff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#ffffff","edited":true},"page-titlebar-backgroundColor":{"value":"#4fe3ef","edited":true},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4fe3ef","edited":true},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#0f0f0f","edited":true},"widget-backgroundColor":{"value":"#eebb51","edited":true},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Group 6 Blockchain Demo","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b176cda4.01a5","type":"ui_group","z":"","name":"Governers","tab":"e3e87cf3.7b9a08","order":1,"disp":true,"width":"20","collapse":false},{"id":"3f6fbc31.f8ba04","type":"ui_group","z":"","name":"Prisons","tab":"3aa53e2f.e720da","order":2,"disp":true,"width":"20","collapse":false},{"id":"3aa53e2f.e720da","type":"ui_tab","z":"","name":"Assets","icon":"language","order":5},{"id":"e1ba5938.e6d008","type":"ui_group","z":"","name":"Regulators","tab":"e3e87cf3.7b9a08","disp":true,"width":"20","collapse":false},{"id":"bed71bad.a433e8","type":"ui_tab","z":"","name":"Blockchain","icon":"apps","order":2},{"id":"3df4899f.fb51de","type":"ui_group","z":"","name":"Transactions","tab":"bed71bad.a433e8","disp":true,"width":"25","collapse":false},{"id":"2507ed8d.21c012","type":"ui_tab","z":"","name":"Welcome","icon":"menu","order":1},{"id":"b530c083.86e828","type":"ui_group","z":"","name":"","tab":"2507ed8d.21c012","disp":false,"width":"26","collapse":false},{"id":"4a0b69c0.a62d48","type":"ui_group","z":"","name":"Wings","tab":"3aa53e2f.e720da","disp":true,"width":"20","collapse":false},{"id":"d1e0f324.fd1b68","type":"ui_tab","z":"","name":"Interact","icon":"timeline","order":3},{"id":"25d851e9.5d5136","type":"ui_group","z":"","name":"Offender Movement Departure","tab":"d1e0f324.fd1b68","order":1,"disp":true,"width":"20","collapse":false},{"id":"fe5e611c.67d55","type":"ui_group","z":"","name":"Offender Movement Arrive","tab":"d1e0f324.fd1b68","order":2,"disp":true,"width":"20","collapse":false},{"id":"e3e87cf3.7b9a08","type":"ui_tab","z":"","name":"Participants","icon":"portrait"},{"id":"6ce645ce.0d7e74","type":"ui_group","z":"10d2455f.406113","name":"Animals","tab":"3aa53e2f.e720da","order":3,"disp":true,"width":"20","collapse":false},{"id":"814305d.1b98b78","type":"function","z":"e9181438.05a498","name":"get data","func":"let animal = global.get(\"animal\").split(\" \"); // split the selection into an array (from \"animal_2 currently in field_1\")\nmsg.animalId = animal[0]; // get the relevant parts of the array\nmsg.fromField = animal[4]; // get the relevant parts of the array\nmsg.toField = global.get(\"field\"); // find the field from the global value\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["79c3a779.6e49a8"]]},{"id":"9782fff1.4f6228","type":"http request","z":"e9181438.05a498","name":"get toField details","method":"GET","ret":"txt","url":"","tls":"","x":330,"y":200,"wires":[["b2fbb050.ff023"]]},{"id":"43c96a62.7dc254","type":"function","z":"e9181438.05a498","name":"set url","func":"msg.url = 'http://184.172.214.189:31090/api/Field/'+msg.toField; // set the API to use the field selected\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["9782fff1.4f6228"]]},{"id":"b2fbb050.ff023","type":"json","z":"e9181438.05a498","name":"","pretty":false,"x":510,"y":200,"wires":[["ed95d2b2.a4d7f8"]]},{"id":"5ee53d1d.3a3e64","type":"http request","z":"e9181438.05a498","name":"get fromField details","method":"GET","ret":"txt","url":"","tls":"","x":340,"y":340,"wires":[["b39a67db.092d68"]]},{"id":"c2dced89.f4a9c","type":"function","z":"e9181438.05a498","name":"set url","func":"msg.url = 'http://184.172.214.189:31090/api/Field/'+msg.fromField; // do the same again, by setting the field\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["5ee53d1d.3a3e64"]]},{"id":"b39a67db.092d68","type":"json","z":"e9181438.05a498","name":"","pretty":false,"x":530,"y":340,"wires":[["94e61397.21d69"]]},{"id":"94e61397.21d69","type":"function","z":"e9181438.05a498","name":"format response","func":"msg.fromBusinessId = msg.payload.business.replace(\"resource:com.biz.Business#\",\"\"); // pull out the business ID\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":480,"wires":[["242f1558.afd252"]]},{"id":"ed95d2b2.a4d7f8","type":"function","z":"e9181438.05a498","name":"extract business ID","func":"msg.toBusinessId = msg.payload.business.replace(\"resource:com.biz.Business#\",\"\"); // pull out the businessID from the response\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["c2dced89.f4a9c"]]},{"id":"242f1558.afd252","type":"function","z":"e9181438.05a498","name":"set payload","func":"// set the payload for the POST, using the various msg properties from previous nodes\nmsg.payload = {\n  \"$class\": \"com.biz.AnimalMovementDeparture\",\n  \"fromField\": \"resource:com.biz.Field#\"+msg.fromField,\n  \"animal\": \"resource:com.biz.Animal#\"+msg.animalId,\n  \"from\": \"resource:com.biz.Business#\"+msg.fromBusinessId,\n  \"to\": \"resource:com.biz.Business#\"+msg.toBusinessId\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["8d7709c6.feb318"]]},{"id":"8d7709c6.feb318","type":"http request","z":"e9181438.05a498","name":"depart API","method":"POST","ret":"txt","url":"http://184.172.214.189:31090/api/AnimalMovementDeparture","tls":"","x":550,"y":480,"wires":[[]]},{"id":"f7bed3b0.baefa8","type":"function","z":"ecfc4797.ceaad","name":"get data","func":"let animal = global.get(\"animalarr\").split(\" \"); //split the string out\nmsg.animalId = animal[0]; // grab the relevant parts\nmsg.fromField = animal[4]; // and here\nmsg.toField = global.get(\"fieldarr\"); // then get from global\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["c0d3f89a.dc411"]]},{"id":"679197ce.bb57d8","type":"http request","z":"ecfc4797.ceaad","name":"get toField details","method":"GET","ret":"txt","url":"","tls":"","x":330,"y":200,"wires":[["fbd9e038.990e9"]]},{"id":"4568e84d.db231","type":"function","z":"ecfc4797.ceaad","name":"set url","func":"msg.url = 'http://184.172.214.189:31090/api/Field/'+msg.toField; // use the correct API by setting it to the fieldID\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["679197ce.bb57d8"]]},{"id":"fbd9e038.990e9","type":"json","z":"ecfc4797.ceaad","name":"","pretty":false,"x":510,"y":200,"wires":[["e58a0cc2.40ee08"]]},{"id":"98bf1a25.ff8ae","type":"http request","z":"ecfc4797.ceaad","name":"get fromField details","method":"GET","ret":"txt","url":"","tls":"","x":340,"y":340,"wires":[["e40ffd3d.3312d8"]]},{"id":"31852071.7ba218","type":"function","z":"ecfc4797.ceaad","name":"set url","func":"msg.url = 'http://184.172.214.189:31090/api/Field/'+msg.fromField; // set the API to use the fromField ID\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["98bf1a25.ff8ae"]]},{"id":"e40ffd3d.3312d8","type":"json","z":"ecfc4797.ceaad","name":"","pretty":false,"x":530,"y":340,"wires":[["6bb38eed.f87238"]]},{"id":"6bb38eed.f87238","type":"function","z":"ecfc4797.ceaad","name":"format response","func":"msg.fromBusinessId = msg.payload.business.replace(\"resource:com.biz.Business#\",\"\"); // pull out the business ID from the response\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":480,"wires":[["ebf5fa02.b6e878"]]},{"id":"e58a0cc2.40ee08","type":"function","z":"ecfc4797.ceaad","name":"extract business ID","func":"msg.toBusinessId = msg.payload.business.replace(\"resource:com.biz.Business#\",\"\"); // pull out the business ID from the API response\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["31852071.7ba218"]]},{"id":"ebf5fa02.b6e878","type":"function","z":"ecfc4797.ceaad","name":"set url","func":"// set the payload for the POST, using the various msg properties from previous nodes\nmsg.payload = {\n  \"$class\": \"com.biz.AnimalMovementArrival\",\n  \"arrivalField\": \"resource:com.biz.Field#\"+msg.toField,\n \"animal\": \"resource:com.biz.Animal#\"+msg.animalId,\n  \"from\": \"resource:com.biz.Business#\"+msg.fromBusinessId,\n  \"to\": \"resource:com.biz.Business#\"+msg.toBusinessId\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["662cf69b.b6624"]]},{"id":"662cf69b.b6624","type":"http request","z":"ecfc4797.ceaad","name":"arrive API","method":"POST","ret":"txt","url":"http://184.172.214.189:31090/api/AnimalMovementArrival","tls":"","x":500,"y":480,"wires":[[]]},{"id":"79c3a779.6e49a8","type":"change","z":"e9181438.05a498","name":"","rules":[{"t":"delete","p":"field","pt":"global"},{"t":"delete","p":"animal","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["43c96a62.7dc254"]]},{"id":"c0d3f89a.dc411","type":"change","z":"ecfc4797.ceaad","name":"","rules":[{"t":"delete","p":"fieldarr","pt":"global"},{"t":"delete","p":"animalarr","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["4568e84d.db231"]]},{"id":"458337b0.15fa2","type":"comment","z":"e9181438.05a498","name":"get details from the form (and resets the global objects)","info":"","x":300,"y":40,"wires":[]},{"id":"1c9c2a01.dfbe96","type":"comment","z":"e9181438.05a498","name":"call field API to get the details of the field it will go to","info":"","x":290,"y":160,"wires":[]},{"id":"cb09e95f.591ab","type":"comment","z":"e9181438.05a498","name":" call field API again to get the details of the field it's come from","info":"","x":320,"y":300,"wires":[]},{"id":"aea8a260.12163","type":"comment","z":"e9181438.05a498","name":"format nicely, then call departure API","info":"","x":250,"y":440,"wires":[]},{"id":"15c1b7d1.eb48a","type":"comment","z":"ecfc4797.ceaad","name":"format nicely, then call departure API","info":"","x":250,"y":440,"wires":[]},{"id":"58af3938.55d888","type":"comment","z":"ecfc4797.ceaad","name":" call field API again to get the details of the field it's come from","info":"","x":320,"y":300,"wires":[]},{"id":"6c42344d.0ef664","type":"comment","z":"ecfc4797.ceaad","name":"call field API to get the details of the field it will go to","info":"","x":290,"y":160,"wires":[]},{"id":"be950aee.84c9a","type":"comment","z":"ecfc4797.ceaad","name":"get details from the form (and resets the global objects)","info":"","x":300,"y":40,"wires":[]},{"id":"51ee2e5e.fa7d6","type":"ui_dropdown","z":"10d2455f.406113","name":"","label":"Select Offender","place":"Select option","group":"25d851e9.5d5136","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":600,"y":80,"wires":[["bef1c55f.fbdc48"]]},{"id":"fb55db5d.541d48","type":"function","z":"10d2455f.406113","name":"set options","func":"// This function is for creating the list of options in the form drop down\n\nmsg.options = [];\nfor (var i = 0; i < msg.payload.length; i++) { // loop through the list of offenders passed through\n    let label = msg.payload[i].offenderId+\" - currently in \" +msg.payload[i].location.replace(\"resource:com.biz.Wing#\",\"\"); // make a new label\n    msg.options.push(label); // add to the array\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["51ee2e5e.fa7d6","31707ea9.af2b52"]]},{"id":"793267f1.73c6f8","type":"http request","z":"10d2455f.406113","name":"get offenders","method":"GET","ret":"txt","url":"http://159.122.177.107:31090/api/Offender","tls":"","x":270,"y":80,"wires":[["d00b1b4c.eee998"]]},{"id":"d00b1b4c.eee998","type":"json","z":"10d2455f.406113","name":"","pretty":false,"x":250,"y":160,"wires":[["fb55db5d.541d48"]]},{"id":"3ecb5252.59bf56","type":"comment","z":"10d2455f.406113","name":"..then generate a form with the data....","info":"","x":670,"y":40,"wires":[]},{"id":"c830c763.dd312","type":"ui_dropdown","z":"10d2455f.406113","name":"","label":"Select Wing to go to","place":"Select option","group":"25d851e9.5d5136","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":620,"y":120,"wires":[["13897287.b1f315"]]},{"id":"af95c94c.7d173","type":"http request","z":"10d2455f.406113","name":"get wings","method":"GET","ret":"txt","url":"http://159.122.177.107:31090/api/Wing","tls":"","x":260,"y":120,"wires":[["97ed27c6.f79eb8"]]},{"id":"97ed27c6.f79eb8","type":"json","z":"10d2455f.406113","name":"","pretty":false,"x":250,"y":200,"wires":[["15af75a7.377eca"]]},{"id":"15af75a7.377eca","type":"function","z":"10d2455f.406113","name":"set options","func":"// This function is for creating the list of options in the form drop down\nmsg.options = [];\nfor (var i = 0; i < msg.payload.length; i++) {// loop through the list of results passed through\n    let label = msg.payload[i].cph; // set the label\n    msg.options.push(label); // add to the array\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["c830c763.dd312","23bdf739.557c5"]]},{"id":"dd875626.c31048","type":"http request","z":"add46346.e4cfd8","name":"get governers","method":"GET","ret":"txt","url":"http://159.122.177.107:31090/api/Governer","tls":"","x":300,"y":80,"wires":[["77fde8b7.3215b8"]]},{"id":"77fde8b7.3215b8","type":"json","z":"add46346.e4cfd8","name":"","pretty":false,"x":450,"y":80,"wires":[["8bd62834.8e539"]]},{"id":"8bd62834.8e539","type":"template","z":"add46346.e4cfd8","name":"create table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{!--use mustache to loop through the entire resultset, and add each line into a table--}}\n<table class=\"table-center center table\">\n    {{!--set table headers--}}\n    <tr><th>class</th><th>Address</th><th>prison</th><th>email</th><th>name</th></tr>\n    {{!--this means \"loop\"--}}\n    {{#payload}}\n    {{!--then render rows--}}\n        <tr class=\"\">\n            <td>{{$class}}</td>\n            <td>{{address1}}, {{address2}}, {{county}}, {{postcode}}</td>\n            <td>{{prison}}</td>\n            <td>{{email}}</td>\n            <td>{{firstName}}, {{lastName}}</td>\n        </tr>\n    {{/payload}}\n</table>","output":"str","x":610,"y":80,"wires":[["5aff77f7.a9904"]]},{"id":"5aff77f7.a9904","type":"ui_template","z":"add46346.e4cfd8","group":"b176cda4.01a5","name":"Governer table","order":0,"width":"20","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":840,"y":80,"wires":[[]]},{"id":"b8c4305b.dc2858","type":"comment","z":"add46346.e4cfd8","name":"...Call Participants API...","info":"","x":330,"y":40,"wires":[]},{"id":"f191bbef.eb233","type":"http request","z":"add46346.e4cfd8","name":"get regulators","method":"GET","ret":"txt","url":"http://159.122.177.107:31090/api/Regulator","tls":"","x":300,"y":120,"wires":[["25f75ac5.a1b22e"]]},{"id":"25f75ac5.a1b22e","type":"json","z":"add46346.e4cfd8","name":"","pretty":false,"x":450,"y":120,"wires":[["2cf0c769.709758"]]},{"id":"2cf0c769.709758","type":"template","z":"add46346.e4cfd8","name":"create table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{!--use mustache to loop through the entire resultset, and add each line into a table--}}\n<table class=\"table-center center table\">\n    <tr><th>class</th><th>email</th><th>Name</th></tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{$class}}</td>\n            <td>{{email}}</td>\n            <td>{{firstName}}, {{lastName}}</td>\n        </tr>\n    {{/payload}}\n</table>","x":610,"y":120,"wires":[["6793b376.43bf14"]]},{"id":"6793b376.43bf14","type":"ui_template","z":"add46346.e4cfd8","group":"e1ba5938.e6d008","name":"Regulator table","order":0,"width":"20","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":120,"wires":[[]]},{"id":"7457aa2d.ee3d6c","type":"http request","z":"e4959021.fe8548","name":"get offenders","method":"GET","ret":"txt","url":"http://159.122.177.107:31090/api/Offender","tls":"","x":290,"y":120,"wires":[["45c8d1b6.fdfd28"]]},{"id":"45c8d1b6.fdfd28","type":"json","z":"e4959021.fe8548","name":"","pretty":false,"x":450,"y":120,"wires":[["a98d3f76.2c2ac8"]]},{"id":"a98d3f76.2c2ac8","type":"template","z":"e4959021.fe8548","name":"create table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{!--use mustache to loop through the entire resultset, and add each line into a table--}}\n<table class=\"table-center center table\">\n    <tr><th>class</th><th>offenderId</th><th>category</th><th>movementStatus</th><th>offenderType</th><th>location</th><th>owner</th></tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{$class}}</td>\n            <td>{{offenderId}}</td>\n            <td>{{category}}</td>\n            <td>{{movementStatus}}</td>\n            <td>{{offenderType}}</td>\n            <td>{{location}}</td>\n            <td>{{owner}}</td>\n        </tr>\n    {{/payload}}\n</table>","output":"str","x":610,"y":120,"wires":[["f6e1ff1.4440f8"]]},{"id":"f6e1ff1.4440f8","type":"ui_template","z":"e4959021.fe8548","group":"b176cda4.01a5","name":"Offender table","order":0,"width":"20","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":840,"y":120,"wires":[[]]},{"id":"27c7a9a1.6cdec6","type":"http request","z":"e4959021.fe8548","name":"get prisons","method":"GET","ret":"txt","url":"http://159.122.177.107:31090/api/Prison","tls":"","x":290,"y":80,"wires":[["11b976ac.c3a869"]]},{"id":"11b976ac.c3a869","type":"json","z":"e4959021.fe8548","name":"","pretty":false,"x":450,"y":80,"wires":[["fa6d034c.5a7eb8"]]},{"id":"fa6d034c.5a7eb8","type":"template","z":"e4959021.fe8548","name":"create table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{!--use mustache to loop through the entire resultset, and add each line into a table--}}\n\n<table class=\"table-center center table\">\n    <tr><th>class</th><th>sbi</th><th>address</th><th>owner</th></tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{$class}}</td>\n            <td>{{sbi}}</td>\n            <td>{{address1}}, {{address2}}, {{county}}, {{postcode}}</td>\n            <td>{{owner}}</td>\n        </tr>\n    {{/payload}}\n</table>","x":610,"y":80,"wires":[["9faf68fd.8dfc8"]]},{"id":"9faf68fd.8dfc8","type":"ui_template","z":"e4959021.fe8548","group":"3f6fbc31.f8ba04","name":"Prison table","order":0,"width":"20","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":80,"wires":[[]]},{"id":"40299cf0.4a6674","type":"http request","z":"e4959021.fe8548","name":"get wings","method":"GET","ret":"txt","url":"http://159.122.177.107:31090/api/Wing","tls":"","x":280,"y":160,"wires":[["1f66292a.718627"]]},{"id":"1f66292a.718627","type":"json","z":"e4959021.fe8548","name":"","pretty":false,"x":450,"y":160,"wires":[["65a74cd0.35a8d4"]]},{"id":"65a74cd0.35a8d4","type":"template","z":"e4959021.fe8548","name":"create table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{!--use mustache to loop through the entire resultset, and add each line into a table--}}\n<table class=\"table-center center table\">\n    <tr><th>class</th><th>cph</th><th>name</th><th>prison (owner)</th></tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{$class}}</td>\n            <td>{{cph}}</td>\n            <td>{{name}}</td>\n            <td>{{prison}}</td>\n        </tr>\n    {{/payload}}\n</table>","output":"str","x":610,"y":160,"wires":[["b337ede0.ca783"]]},{"id":"b337ede0.ca783","type":"ui_template","z":"e4959021.fe8548","group":"4a0b69c0.a62d48","name":"wing table","order":0,"width":"20","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":850,"y":160,"wires":[[]]},{"id":"f40d0606.41c21","type":"http request","z":"4a449ed4.d0e6a","name":"get history","method":"GET","ret":"txt","url":"http://159.122.177.107:31090/api/system/historian","tls":"","x":290,"y":80,"wires":[["2eee44c0.3c0964"]]},{"id":"2eee44c0.3c0964","type":"json","z":"4a449ed4.d0e6a","name":"","pretty":false,"x":450,"y":80,"wires":[["f410b93c.942178","4a6f48ad.71f8c8"]]},{"id":"361f7afd.c1d6d6","type":"template","z":"4a449ed4.d0e6a","name":"create table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{!--use mustache to loop through the entire resultset, and add each line into a table--}}\n<table class=\"table-center center table\">\n    <tr><th>transaction ID</th><th>Type</th><th>Timestamp</th></tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{transactionId}}</td>\n            <td>{{transactionType}}</td>\n            <td>{{transactionTimestamp}}</td>\n            \n        </tr>\n    {{/payload}}\n</table>","x":610,"y":120,"wires":[["a73d9dfe.b5547"]]},{"id":"a73d9dfe.b5547","type":"ui_template","z":"4a449ed4.d0e6a","group":"3df4899f.fb51de","name":"Transactions table","order":2,"width":"25","height":"13","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":120,"wires":[[]]},{"id":"f410b93c.942178","type":"function","z":"4a449ed4.d0e6a","name":"Format msg","func":"// loop through results from API\nfor (var i = 0; i < msg.payload.length; i++) {\n    cleanData(msg.payload[i]); // call cleanData function\n}\n\n// then sort\nmsg.payload.sort(function(a,b){\n return new Date(b.transactionTimestamp) - new Date(a.transactionTimestamp); // sort by date (to make it easier to read)\n});\n\n\nreturn msg;\n\n\nfunction cleanData(transaction){\n    transaction.transactionType = transaction.transactionType.replace(\"com.biz.\",\"\"); // replace excess information\n    transaction.transactionType = transaction.transactionType.replace(\"org.hyperledger.composer.\",\"\"); // replace excess information\n    transaction.transactionTimestamp = new Date(transaction.transactionTimestamp); // create a date from the transaction timestamp\n}","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["361f7afd.c1d6d6"]]},{"id":"4a6f48ad.71f8c8","type":"function","z":"4a449ed4.d0e6a","name":"Count","func":"msg.payload = msg.payload.length; // count all transactions\nreturn msg","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["377431c9.375876"]]},{"id":"377431c9.375876","type":"ui_text","z":"4a449ed4.d0e6a","group":"3df4899f.fb51de","order":1,"width":0,"height":0,"name":"","label":"Total Transactions","format":"<h2>{{msg.payload}}</h2>","layout":"col-center","x":810,"y":160,"wires":[]},{"id":"470551b4.1ab768","type":"ui_button","z":"fb8531d1.82cf","name":"","group":"b530c083.86e828","order":2,"width":"13","height":"1","passthru":false,"label":"SETUP DEMO","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":80,"wires":[["5511a769.e34b58"]]},{"id":"b17b1673.0260f","type":"ui_button","z":"fb8531d1.82cf","name":"ping","group":"b530c083.86e828","order":1,"width":"13","height":"1","passthru":false,"label":"PING HYPERLEDGER FABRIC","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":120,"wires":[["8787c73b.8f8f88"]]},{"id":"5511a769.e34b58","type":"http request","z":"fb8531d1.82cf","name":"","method":"POST","ret":"txt","url":"http://159.122.177.107:31090/api/SetupDemo","tls":"","x":290,"y":80,"wires":[["c10fd70.8bb0a28"]]},{"id":"ef720d14.35d07","type":"ui_toast","z":"fb8531d1.82cf","position":"bottom right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":750,"y":100,"wires":[]},{"id":"6d5ee24a.af9dfc","type":"function","z":"fb8531d1.82cf","name":"Format msg","func":"if (msg.payload.error) {\n    if (msg.payload.error.message.includes(\"object already exists\")) { // this is the error from hyperledger fabric\n        msg.payload = \"Setup failed. Looks like you've already got a populated blockchain\"\n    } else {\n        msg.payload = \"Setup failed - unknown error\" // unknown error here - possibly an incorrect BNA config\n    }\n}\nelse {\n    msg.payload =\"demo setup successfully\"; // yay! demo was setup (i.e. no error occured)\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["ef720d14.35d07"]]},{"id":"c10fd70.8bb0a28","type":"json","z":"fb8531d1.82cf","name":"","pretty":false,"x":430,"y":80,"wires":[["6d5ee24a.af9dfc","5d5a56d9.8cb038"]]},{"id":"8787c73b.8f8f88","type":"http request","z":"fb8531d1.82cf","name":"","method":"GET","ret":"txt","url":"http://159.122.177.107:31090/api/system/ping","tls":"","x":290,"y":120,"wires":[["d26f5c14.9fc17"]]},{"id":"d26f5c14.9fc17","type":"json","z":"fb8531d1.82cf","name":"","pretty":false,"x":430,"y":120,"wires":[["a767f11a.37c0c8"]]},{"id":"a767f11a.37c0c8","type":"function","z":"fb8531d1.82cf","name":"Format msg","func":"\nif (msg.payload.version) {\n  msg.payload = \"Pinged network successfully: <br> version: \"+msg.payload.version; // version was returned (no error)\n} else {\n    msg.payload = \"Unable to ping network. <br> Check container health\" // version not found in response - therefore network could not be connected to\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["ef720d14.35d07"]]},{"id":"d6ed16a7.5d723","type":"ui_template","z":"fb8531d1.82cf","group":"b530c083.86e828","name":"Welcome page","order":3,"width":0,"height":0,"format":"<div>\n    <h1>Blockchain Demo</h1>\n   <h2>Premise</h2>\n    <p>This is an Offender Tracking Prison Network based on a 2017 proposal to Ministry of Justice. Governers can move Offenders between prisons/wings and the UK government farming regulator has visibility into the locations of all Offenders and all Offender movements between farms. </p>\n     This Prison network defines:\n     <ul>\n         <li>Participants: Governer, Regulator </li> \n     <li>Assets: Offender, Prison, Wing </li>\n     <li>Transactions: OffenderMovementDeparture, OffenderMovementArrival, SetupDemo</li>\n     </ul>\n     <p>Each Governer owns a Prison that is identified by a Single Prison Identifier (SBI). A Governer owns a set of Offenders. A Prison owns a set of Wings. A Wing contains a set of Offenders owned by the Governer. Offenders can be transferred between Governers or between Wings</p>\n<h2>How this works</h2>\n<p>On the left menu, there's several pages that allows you to interact with the blockchain.</p>\n<ul>\n    <li><b>Blockchain</b> allows you to view the transactions on the blockchain and view the interactions that have occured.</li>\n    <li><b>Participants</b> shows the participants and their statuses on the blockchain</li>\n    <li><b>Assets</b> shows all the assets that are being tracked by the blockchain, and their statuses (e.g. in Wing)</li>\n    <li><b>Interact</b> Allows you to interact with the blockchain by moving Offenders, recording the motions on the blockchain and updating the other views.</li>\n</ul>\n<h2>A bit of Architecture</h2>\n<p>This webpage is running in node-RED, which is using the RESTful APIs provided by Hyperledger Composer to interact with the blockchain. The blockchain network itself has been abstracted using composer/fabric, and currently sits on a container on IBM's container service. The .bna file to create this network was created locally in composer-playground and then added to the kubernetes container to allow for cloud deployment.</p>\n<h2>Setup</h2>\n<p>For the first time, hit the \"setup demo\" button to pre-populate the blockchain with some data.</p>\n<p>If you're not getting any data back onto the web app, hit the \"ping blockchain\" button to check it hasn't fallen over.</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":120,"y":220,"wires":[[]]},{"id":"bef1c55f.fbdc48","type":"change","z":"10d2455f.406113","name":"","rules":[{"t":"set","p":"offender","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":80,"wires":[[]]},{"id":"13897287.b1f315","type":"change","z":"10d2455f.406113","name":"","rules":[{"t":"set","p":"wing","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":120,"wires":[[]]},{"id":"82a3896b.2df2d","type":"ui_button","z":"10d2455f.406113","name":"","group":"25d851e9.5d5136","order":3,"width":"0","height":"0","passthru":false,"label":"Add departure to blockchain","color":"","bgcolor":"","icon":"check","payload":"","payloadType":"str","topic":"","x":160,"y":420,"wires":[["72e4d747.83919"]]},{"id":"31707ea9.af2b52","type":"ui_dropdown","z":"10d2455f.406113","name":"","label":"Select Offender","place":"Select option","group":"fe5e611c.67d55","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":600,"y":220,"wires":[["26cc4681.ac6552"]]},{"id":"23bdf739.557c5","type":"ui_dropdown","z":"10d2455f.406113","name":"","label":"Select wing offender has arrived at","place":"Select option","group":"fe5e611c.67d55","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":670,"y":260,"wires":[["acab24fe.b7a588"]]},{"id":"26cc4681.ac6552","type":"change","z":"10d2455f.406113","name":"","rules":[{"t":"set","p":"offenderarr","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":220,"wires":[[]]},{"id":"acab24fe.b7a588","type":"change","z":"10d2455f.406113","name":"","rules":[{"t":"set","p":"wingarr","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":260,"wires":[[]]},{"id":"c70f69c1.a1efc8","type":"ui_button","z":"10d2455f.406113","name":"","group":"fe5e611c.67d55","order":0,"width":0,"height":0,"passthru":false,"label":"Add arrival to blockchain","color":"","bgcolor":"","icon":"check","payload":"","payloadType":"str","topic":"","x":150,"y":460,"wires":[["743096e9.deec18"]]},{"id":"9b4b88d9.2df918","type":"debug","z":"10d2455f.406113","name":"interaction","active":true,"console":false,"complete":"true","x":890,"y":420,"wires":[]},{"id":"b4ecaa13.d208c8","type":"function","z":"1828c2fb.0bce1d","name":"get data","func":"let animal = global.get(\"animal\").split(\" \"); // split the selection into an array (from \"animal_2 currently in field_1\")\nmsg.animalId = animal[0]; // get the relevant parts of the array\nmsg.fromField = animal[4]; // get the relevant parts of the array\nmsg.toField = global.get(\"field\"); // find the field from the global value\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["87df3232.5ae51"]]},{"id":"a5e572bb.3b2ba","type":"http request","z":"1828c2fb.0bce1d","name":"get toField details","method":"GET","ret":"txt","url":"","tls":"","x":330,"y":200,"wires":[["f7b88ea0.44f448"]]},{"id":"fab004cf.81f488","type":"function","z":"1828c2fb.0bce1d","name":"set url","func":"msg.url = 'http://159.122.177.107:31090/api/Field/'+msg.toField; // set the API to use the field selected\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["a5e572bb.3b2ba"]]},{"id":"f7b88ea0.44f448","type":"json","z":"1828c2fb.0bce1d","name":"","pretty":false,"x":510,"y":200,"wires":[["d81848a8.9d445"]]},{"id":"661faac4.4c3a34","type":"http request","z":"1828c2fb.0bce1d","name":"get fromField details","method":"GET","ret":"txt","url":"","tls":"","x":340,"y":340,"wires":[["de2e3930.2d44c"]]},{"id":"de7e1b33.fac26","type":"function","z":"1828c2fb.0bce1d","name":"set url","func":"msg.url = 'http://159.122.177.107:31090/api/Field/'+msg.fromField; // do the same again, by setting the field\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["661faac4.4c3a34"]]},{"id":"de2e3930.2d44c","type":"json","z":"1828c2fb.0bce1d","name":"","pretty":false,"x":530,"y":340,"wires":[["1aac0d8e.014842"]]},{"id":"1aac0d8e.014842","type":"function","z":"1828c2fb.0bce1d","name":"format response","func":"msg.fromBusinessId = msg.payload.business.replace(\"resource:com.biz.Business#\",\"\"); // pull out the business ID\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":480,"wires":[["eb1ccb60.72201"]]},{"id":"d81848a8.9d445","type":"function","z":"1828c2fb.0bce1d","name":"extract business ID","func":"msg.toBusinessId = msg.payload.business.replace(\"resource:com.biz.Business#\",\"\"); // pull out the businessID from the response\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["de7e1b33.fac26"]]},{"id":"eb1ccb60.72201","type":"function","z":"1828c2fb.0bce1d","name":"set payload","func":"// set the payload for the POST, using the various msg properties from previous nodes\nmsg.payload = {\n  \"$class\": \"com.biz.AnimalMovementDeparture\",\n  \"fromField\": \"resource:com.biz.Field#\"+msg.fromField,\n  \"animal\": \"resource:com.biz.Animal#\"+msg.animalId,\n  \"from\": \"resource:com.biz.Business#\"+msg.fromBusinessId,\n  \"to\": \"resource:com.biz.Business#\"+msg.toBusinessId\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["ac718397.ff073"]]},{"id":"ac718397.ff073","type":"http request","z":"1828c2fb.0bce1d","name":"depart API","method":"POST","ret":"txt","url":"http://159.122.177.107:31090/api/AnimalMovementDeparture","tls":"","x":550,"y":480,"wires":[[]]},{"id":"72e4d747.83919","type":"subflow:1828c2fb.0bce1d","z":"10d2455f.406113","name":"","x":410,"y":420,"wires":[["46f6700.6ac1d9"]]},{"id":"46f6700.6ac1d9","type":"function","z":"10d2455f.406113","name":"set notification","func":"// if the http response code is a 200 (success), say so. If it's not, then say something negative instead\nmsg.payload = msg.statusCode===200 ? \"Departure of Offender successful\" : \"Departure of Animal unsuccessful\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":420,"wires":[["9b4b88d9.2df918","f360e3ce.fb447"]]},{"id":"f360e3ce.fb447","type":"ui_toast","z":"10d2455f.406113","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":910,"y":460,"wires":[]},{"id":"6ff23e77.3c75b8","type":"ui_ui_control","z":"10d2455f.406113","name":"","x":100,"y":80,"wires":[["793267f1.73c6f8","af95c94c.7d173"]]},{"id":"5577e900.3c79d","type":"ui_ui_control","z":"add46346.e4cfd8","name":"","x":100,"y":80,"wires":[["dd875626.c31048","f191bbef.eb233"]]},{"id":"bfee66f9.8e667","type":"ui_ui_control","z":"e4959021.fe8548","name":"","x":100,"y":80,"wires":[["27c7a9a1.6cdec6","7457aa2d.ee3d6c","40299cf0.4a6674"]]},{"id":"ed893c5e.4a0bc","type":"ui_ui_control","z":"4a449ed4.d0e6a","name":"","x":100,"y":80,"wires":[["f40d0606.41c21"]]},{"id":"ab7580a7.f987f8","type":"function","z":"10d2455f.406113","name":"set notification","func":"// if the http response code is a 200 (success), say so. If it's not, then say something negative instead\nmsg.payload = msg.statusCode===200 ? \"Arrival of Offender successful\" : \"Arrival of Offender unsuccessful\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":460,"wires":[["f360e3ce.fb447","9b4b88d9.2df918"]]},{"id":"8bd53e50.7f42f8","type":"function","z":"62861aca.02fbec","name":"get data","func":"let animal = global.get(\"animalarr\").split(\" \"); //split the string out\nmsg.animalId = animal[0]; // grab the relevant parts\nmsg.fromField = animal[4]; // and here\nmsg.toField = global.get(\"fieldarr\"); // then get from global\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["3717c2b1.5edbe6"]]},{"id":"77156a2f.5a0b04","type":"http request","z":"62861aca.02fbec","name":"get toField details","method":"GET","ret":"txt","url":"","tls":"","x":330,"y":200,"wires":[["61e4873c.1d7a48"]]},{"id":"d32e445f.5bc0f","type":"function","z":"62861aca.02fbec","name":"set url","func":"msg.url = 'http://159.122.177.107:31090/api/Field/'+msg.toField; // use the correct API by setting it to the fieldID\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["77156a2f.5a0b04"]]},{"id":"61e4873c.1d7a48","type":"json","z":"62861aca.02fbec","name":"","pretty":false,"x":510,"y":200,"wires":[["c76abe21.7f22"]]},{"id":"9ec3fa5a.81f298","type":"http request","z":"62861aca.02fbec","name":"get fromField details","method":"GET","ret":"txt","url":"","tls":"","x":340,"y":340,"wires":[["94f29fdd.bbf86"]]},{"id":"debcac8d.18b978","type":"function","z":"62861aca.02fbec","name":"set url","func":"msg.url = 'http://159.122.177.107:31090/api/Field/'+msg.fromField; // set the API to use the fromField ID\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["9ec3fa5a.81f298"]]},{"id":"94f29fdd.bbf86","type":"json","z":"62861aca.02fbec","name":"","pretty":false,"x":530,"y":340,"wires":[["4df372cb.55e7e4"]]},{"id":"4df372cb.55e7e4","type":"function","z":"62861aca.02fbec","name":"format response","func":"msg.fromBusinessId = msg.payload.business.replace(\"resource:com.biz.Business#\",\"\"); // pull out the business ID from the response\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":480,"wires":[["a8573ebd.f1a72"]]},{"id":"c76abe21.7f22","type":"function","z":"62861aca.02fbec","name":"extract business ID","func":"msg.toBusinessId = msg.payload.business.replace(\"resource:com.biz.Business#\",\"\"); // pull out the business ID from the API response\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["debcac8d.18b978"]]},{"id":"a8573ebd.f1a72","type":"function","z":"62861aca.02fbec","name":"set url","func":"// set the payload for the POST, using the various msg properties from previous nodes\nmsg.payload = {\n  \"$class\": \"com.biz.AnimalMovementArrival\",\n  \"arrivalField\": \"resource:com.biz.Field#\"+msg.toField,\n \"animal\": \"resource:com.biz.Animal#\"+msg.animalId,\n  \"from\": \"resource:com.biz.Business#\"+msg.fromBusinessId,\n  \"to\": \"resource:com.biz.Business#\"+msg.toBusinessId\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["d014c8e9.753ac8"]]},{"id":"d014c8e9.753ac8","type":"http request","z":"62861aca.02fbec","name":"arrive API","method":"POST","ret":"txt","url":"http://159.122.177.107:31090/api/AnimalMovementArrival","tls":"","x":500,"y":480,"wires":[[]]},{"id":"87df3232.5ae51","type":"change","z":"1828c2fb.0bce1d","name":"","rules":[{"t":"delete","p":"field","pt":"global"},{"t":"delete","p":"animal","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["fab004cf.81f488"]]},{"id":"3717c2b1.5edbe6","type":"change","z":"62861aca.02fbec","name":"","rules":[{"t":"delete","p":"fieldarr","pt":"global"},{"t":"delete","p":"animalarr","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["d32e445f.5bc0f"]]},{"id":"743096e9.deec18","type":"subflow:62861aca.02fbec","z":"10d2455f.406113","name":"","x":400,"y":460,"wires":[["ab7580a7.f987f8"]]},{"id":"c69b0363.492db8","type":"comment","z":"10d2455f.406113","name":"On button press...","info":"","x":130,"y":380,"wires":[]},{"id":"cf52acf1.057858","type":"comment","z":"fb8531d1.82cf","name":"On button press...","info":"","x":130,"y":40,"wires":[]},{"id":"37d6707b.d0a218","type":"comment","z":"1828c2fb.0bce1d","name":"get details from the form (and resets the global objects)","info":"","x":300,"y":40,"wires":[]},{"id":"e1f3890e.d59a3","type":"comment","z":"1828c2fb.0bce1d","name":"call field API to get the details of the field it will go to","info":"","x":290,"y":160,"wires":[]},{"id":"eb41322c.69179","type":"comment","z":"1828c2fb.0bce1d","name":" call field API again to get the details of the field it's come from","info":"","x":320,"y":300,"wires":[]},{"id":"917d5fa3.f782b8","type":"comment","z":"1828c2fb.0bce1d","name":"format nicely, then call departure API","info":"","x":250,"y":440,"wires":[]},{"id":"b572fc70.554748","type":"comment","z":"62861aca.02fbec","name":"format nicely, then call departure API","info":"","x":250,"y":440,"wires":[]},{"id":"f54b9763.e7e8","type":"comment","z":"62861aca.02fbec","name":" call field API again to get the details of the field it's come from","info":"","x":320,"y":300,"wires":[]},{"id":"7c21216.c4dac6","type":"comment","z":"62861aca.02fbec","name":"call field API to get the details of the field it will go to","info":"","x":290,"y":160,"wires":[]},{"id":"5224b58b.0e1a24","type":"comment","z":"62861aca.02fbec","name":"get details from the form (and resets the global objects)","info":"","x":300,"y":40,"wires":[]},{"id":"5d10f1ba.0f1ac8","type":"comment","z":"add46346.e4cfd8","name":"...Then format and show on a table","info":"","x":760,"y":40,"wires":[]},{"id":"d03f0647.f26ec8","type":"comment","z":"add46346.e4cfd8","name":"On page refresh...","info":"","x":110,"y":40,"wires":[]},{"id":"98290aa9.50437","type":"comment","z":"e4959021.fe8548","name":"...Then format and show on a table","info":"","x":760,"y":40,"wires":[]},{"id":"b17a3ec1.1f6d28","type":"comment","z":"e4959021.fe8548","name":"...Call Assets API...","info":"","x":310,"y":40,"wires":[]},{"id":"7c8500d9.25ba4","type":"comment","z":"e4959021.fe8548","name":"On page refresh...","info":"","x":110,"y":40,"wires":[]},{"id":"6b2b3935.7c6ad8","type":"comment","z":"4a449ed4.d0e6a","name":"...Then format and show on a table","info":"","x":760,"y":40,"wires":[]},{"id":"8721845f.e1231","type":"comment","z":"4a449ed4.d0e6a","name":"...Call history API...","info":"","x":310,"y":40,"wires":[]},{"id":"2cab520a.b58c2e","type":"comment","z":"4a449ed4.d0e6a","name":"On page refresh...","info":"","x":110,"y":40,"wires":[]},{"id":"d6c473a6.e0f96","type":"comment","z":"fb8531d1.82cf","name":"...call admin API...","info":"","x":330,"y":40,"wires":[]},{"id":"b4da5fb9.510b5","type":"comment","z":"fb8531d1.82cf","name":"...then show a notification","info":"","x":730,"y":40,"wires":[]},{"id":"8083ea09.b992c8","type":"comment","z":"fb8531d1.82cf","name":"Show static text on welcome page","info":"","x":180,"y":180,"wires":[]},{"id":"f05d5734.ebe4c","type":"comment","z":"10d2455f.406113","name":"On page refresh...","info":"","x":110,"y":40,"wires":[]},{"id":"6b47c8ef.96d97","type":"comment","z":"10d2455f.406113","name":"...Call API...","info":"","x":290,"y":40,"wires":[]},{"id":"981837e1.209f38","type":"comment","z":"10d2455f.406113","name":"... and get value when pressed","info":"","x":970,"y":40,"wires":[]},{"id":"a55ea92f.9c0688","type":"comment","z":"10d2455f.406113","name":"... and get value when pressed","info":"","x":970,"y":180,"wires":[]},{"id":"bd167269.597ea","type":"comment","z":"10d2455f.406113","name":"..then generate a form with the data....","info":"","x":670,"y":180,"wires":[]},{"id":"804f6610.ccf41","type":"comment","z":"10d2455f.406113","name":"...process event (click subflow)...","info":"","x":450,"y":380,"wires":[]},{"id":"8eb3854a.1f68d8","type":"comment","z":"10d2455f.406113","name":"...then show a notification","info":"","x":850,"y":380,"wires":[]},{"id":"5d5a56d9.8cb038","type":"debug","z":"fb8531d1.82cf","name":"","active":true,"console":"false","complete":"false","x":670,"y":240,"wires":[]},{"id":"79049aab.a0ac54","type":"inject","z":"fb8531d1.82cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":340,"wires":[["5511a769.e34b58"]]}]
